# Java build files
target/
bin/
build/

# Maven specific
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IDE files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
out/
*.idea

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Spring Boot specific
application.properties
application.yml

